.mPostPage {
  padding: 0 0 48px;
  margin: 0 auto;
  max-width: 640px;
}

.mPostPage-fmCover {
  margin: 16px 0 0;
}

.mPostPage-fmCoverSrc {
  margin: 0;
  display: block;
}

.mPostPage-fmInfo {
  padding: 0 20px;
}

.mPostPage-fmInfoTitle {
  color: rgba(0, 0, 0, 0.84);
  font-size: 27px;
  line-height: 36px;
  margin: 0;
  font-weight: 700;
}

.mPostPage-fmInfoByline {
  font-size: 13px;
  line-height: 16px;
  margin-top: 6px;
  color: #646464;
  font-weight: 500;
}

.mPostPage-fmInfoBylineDivider {
  padding: 0 6px;
  display: inline;
  font-weight: 700;
}

.mPostPage-fmInfoBylineDivider::after {
  content: '\00B7';
}

.mPostPage-content {
  padding: 0 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .mPostPage-fm {
    padding-top: 24px;
  }

  .mPostPage-fmInfo {
    padding-left: 0;
    padding-right: 0;
  }

  .mPostPage-fmInfoTitle {
    font-size: 36px;
    line-height: 44px;
  }

  .mPostPage-fmCover {
    padding: 0;
    margin-top: 20px;
    margin-left: -32px;
    margin-right: -32px;
    border-radius: 8px;
    overflow: hidden;
  }

  .mPostPage-content {
    padding: 0;
    margin-top: 24px;
  }
}

@media screen and (min-width: 992px) {
  .mPostPage {
    margin-left: 180px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 120px; 
  }
}

@media screen and (min-width: 1200px) {
  .mPostPage {
    margin-left: 248px;
  }
}
