.mHeader {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 16px;
}

.mHeader-wrapper {
  max-width: 640px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.mHeader-menu {
  display: flex;
  justify-content: space-between;
}

.mHeader-menuLink {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
}

.mHeader-menuLink:first-child {
  margin-left: 0;
}

.mHeader-menuLink:hover {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mHeader {
    padding: 24px 0 0;
  }

  .mHeader-wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .mHeader-wrapper {
    margin-left: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .mHeader-wrapper {
    margin-left: 248px;
  }
}