.mLayout {
  padding-top: 48px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.mLayout-main {
  background-color: #ffffff;
  position: relative;
  height: 100%;
}

.mLayout-footer {
  background-color: #FA7268;
  height: 100px;
  padding: 20px 0;
}

.mLayout-footerCredit {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 60px;
  color: #ffffff;
}