.mProfile {
  
}

.mProfile-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;

}

.mProfile-avatar {
  width: 80px;
  -webkit-box-flex: 0 !important;
  flex: 0 0 auto !important;
}

.mProfile-avatarSrc {
  padding-bottom: 100%;
  background-color: #DFDFDF;
  border-radius: 50%;
  background-size: cover;
  background-position: top;
}

.mProfile-info {
  margin-right: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.mProfile-infoWrapper {

}

.mProfile-infoGreet {}

.mProfile-infoGreet > h1 {
  color: hsl(0, 0%, 7%);
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 30px;
  font-weight: 700;
  margin: 8px 0 0;
}

.mProfile-infoGreet > p {
  color: hsl(0, 0%, 7%);
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 14px 0 0;
  line-height: 1.75;
  font-weight: 400;
  font-size: 20px;
}

.mProfile-infoGreet > p > a {
  color: #111827;
  font-weight: 600;
  text-decoration: underline;
}

.mProfile-infoGreet > p > a:hover,
.mProfile-infoGreet > p > a:visited,
.mProfile-infoGreet > p > a:link,
.mProfile-infoGreet > p > a:focus {
  color: #111827;
}

.mProfile-infoName {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
}

.mProfile-infoRole {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.mProfile-infoRoleCompany {
  color: #FA7268;
}

.mProfile-infoDesc {
  font-size: 14px;
  margin: 8px 0 0;
  color: #777777;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .mProfile-wrapper {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

  .mProfile-info {
    margin-right: 20px;
  }

  .mProfile-infoName {
    font-size: 28px;
    line-height: 34px;
  }

  .mProfile-infoGreet > h1 {
    font-size: 34px;
  }
  
  .mProfile-infoGreet > p {
    font-size: 18px;
  }

  .mProfile-infoRole {
    font-size: 15px;
    line-height: 22px;
  }

  .mProfile-infoDesc {
    font-size: 15px;
    line-height: 18px;
  }

  .mProfile-avatar {
    width: 110px;
  }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {}